# Q1
# ANS

Explanation of the program:
In the first line we declare a variable a and set its value to 0
Then we define a function b and in the function definition we access the variable a which we defined above 
After that, we call a function c which adds the value of 2 to global variable each time its called
In the main program, we call the function b which in turn calls the  function 
We call the function b 3 times which in turn calls the function c which increments a by 2 3 times

In [1]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
 return a + 2

print(b())
print(b())
print(b())
print(a)

None
None
None
6

# Q2
# sol

In [2]:
try:
    infile = open('test.txt')
    content = infile.read()
    print(len(content))
    infile.close()
except:
    print('Unable to open the file')

Unable to open the file

# Q 3
# sol

In [3]:
class Marsupial:
    def __init__(self):
        self.pouch=[]
    def put_in_pouch(self,pouch_content):
        self.pouch.append(pouch_content)
    def pouch_contents(self):
        print(self.pouch)
# end of the class
class Kangaroo(Marsupial):
    def __init__(self ,x,y) :
        self.pouch=[]
        self.x=x 
        self.y=y
    def jump(self,x,y):
        self.x= self.x+x
        self.y=self.y+y





m=Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('Kitten')
m.pouch_contents()
k=Kangaroo(0,0)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('Kittens')
k.pouch_contents()

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(f"I m a Kangroo located at cordinate({k.x},{k.y})")

['doll', 'firetruck', 'Kitten']
['doll', 'firetruck', 'Kittens']
I m a Kangroo located at cordinate(3,0)

# Q4
# sol

In [5]:
def collatz(num):
    while(num!=1):
        if num%2==0:
            num=num/2
        else:
           num= 3*num+1
        print(num)
number=int(input('Enter the number to generate the series'))
collatz(number)

Enter the number to generate the series10
5.0
16.0
8.0
4.0
2.0
1.0

# Q 5
# sol

In [6]:
def Binary(num):
    binary = format(num, "b")
    print(binary)


number=int(input('Enter the decimal number to convert it into binary'))
Binary(number)

Enter the decimal number to convert it into binary9
1001

# Q6
# sol

In [6]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def handle_starttag(self, tag, attrs):
        if tag=='<h1>':
           print("Encountered a start tag:", tag)
           print('<h1>')

    def handle_endtag(self, tag):
        if tag=='</h1>':
            print("Encountered an end tag :", tag)

    def handle_data(self, data):
        print("Encountered some data  :", data)

parser = HeadingParser()
parser.feed('<html><head><title>Test</title></head>'
            '<body><h1>Parse me!</h1></body></html>')

Encountered some data  : Test
Encountered some data  : Parse me!

# Q 7
# sol

In [5]:
from html.parser import HTMLParser
import urllib.request
class URLScrapper(HTMLParser):
    
    def handle_starttag(self, tag, attrs):
        if tag=="a":
            for name,link in attrs:
                if name=="href":
                    print(link)

def webdir(url,depth,indent):                  
    url = urllib.request.urlopen(url)
    html = url.read().decode()
    url.close()
    parser =  URLScrapper()
    parser.feed(html)



url="http://reed.cs.depaul.edu/lperkovic/test1.html"
webdir(url,2,0)
        
            
    # def handle_data(self, data):
    #     if self.flag==1:
    #         print("Encountered a heading  :", data)
    #         self.

http://reed.cs.depaul.edu/lperkovic/test2.html
test3.html

# Q 8
# sol

In [ ]:
create table Weather
(
city varchar(100),
country varchar(100),
season varchar(100),
Temperature float,
Rainfall float
)

insert into Weather values('Mumbai','India','Winter',24.8,5.9),
('Mumbai','India','Spring',28.4,16.2),
('Mumbai','India','Summer',27.9,1549),
('Mumbai','India','Winter',24.8,5.9),
('Mumbai','India','Fall',27.6,346.0),
('London','United Kingdom','Winter',4.2,207.7),
('London','United Kingdom','Spring',8.3,169.6),
('London','United Kingdom','Summer',15.7,157.0),
('London','United Kingdom','Fall',10.4,218.5),
('Cario','Egypt','Winter',13.6,16.5),
('Cario','Egypt','Spring',20.7,6.5),
('Cario','Egypt','Summer',13.6,16.5),
('Cario','Egypt','Fall',22.2,4.5)
select * from Weather
select temperature from Weather
select distinct city from Weather
select * from Weather where country='India'
select * from Weather where season='fall'
SELECT city  from Weather GROUP BY  city
HAVING  AVG(Rainfall) between 100 and 200 
select sum(rainfall) from weather where city='Cario'
select sum(rainfall) from weather group by season

# Q 9
# sol

In [10]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
upper=[str.upper() for str in words ]
print('The list converted in upper case is')
print(upper)
lower= [str.lower() for str in words]
print('The list converted in lower case is')
print(lower)

#counting the lenght of the word in the list
lenght=[len(str) for str in words]
print('The lenght of each word in a list is as')
print(lower)
combo=[(len(str), str.upper(), str.lower()) for str in words ]

print('The combo is as follows')
print(combo)
print('The list of words whoes lenght is greater then 4')
lenghtfour=[str for str in words if len(str)>=4]
print(lenghtfour)

The list converted in upper case is
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
The list converted in lower case is
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
The lenght of each word in a list is as
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
The combo is as follows
[(3, 'THE', 'the'), (5, 'QUICK', 'quick'), (5, 'BROWN', 'brown'), (3, 'FOX', 'fox'), (5, 'JUMPS', 'jumps'), (4, 'OVER', 'over'), (3, 'THE', 'the'), (4, 'LAZY', 'lazy'), (3, 'DOG', 'dog')]
The list of words whoes lenght is greater then 4
['quick', 'brown', 'jumps', 'over', 'lazy']